<!DOCTYPE html>
<!-- domyślny język strony -->
<html lang="pl">
<head>
    <!-- domyślne kodowanie znaków na stronie  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- autor strony -->
    <meta name="author" content="biskup">

    <!-- tytuł strony -->
    <title>Kalkulator</title>
    <!-- połączenie arkusza stylów dla strony -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>

    <div id="calculator_container">
        <!-- nagłówek kalkulatora (obliczenia) -->
        <div id="calculator_result">
            <p id="calculator_result_answer">ans</p>
        </div>
        <!-- małe przyciski kalkulatora -->
        <div id="calculator_buttons_smallOperators">
            <div class="calculator_button button_xsmall" id="calculator_button_clear">C/CE</div>
            <div class="calculator_button button_xsmall" id="calculator_button_off">OFF</div>
            <div class="calculator_button button_xsmall" id="calculator_button_modulo">%</div>
            <div class="calculator_button button_xsmall" id="calculator_button_sqrt">&#8730;</div>
        </div>
        <!-- przyciski kalkulatora obsługujące liczby (0-9) -->
        <div id="calculator_buttons_numbers">
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_7">7</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_8">8</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_9">9</div>

            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_4">4</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_5">5</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_6">6</div>

            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_1">1</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_2">2</div>
            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_3">3</div>

            <div value="button_number" class="calculator_button button_small button_number" id="calculator_number_0">0</div>
            <div class="calculator_button button_small button_number" id="calculator_button_dot">.</div>
            <div class="calculator_button button_small button_number" id="calculator_button_solve">=</div>
        </div>
        <!-- przyciski kalkulatora obsługujące działania -->
        <div id="calculator_buttons_operators">
            <div class="calculator_button button_small" id="calculator_button_substraction">-</div>
            <div class="calculator_button button_small" id="calculator_button_multiplication">×</div>
            <div class="calculator_button button_small" id="calculator_button_divide">&#247;</div>
            <div class="calculator_button button_small" id="calculator_button_add">+</div>
        </div>
    </div>

    <!-- połączenie ze skryptem kalkulatora -->
    <script defer src="../public/js/scripts/calculator.js"></script>
</body>
</html>